<ion-header>
  <ion-toolbar>
    <ion-title>
      CCNA CONF COMMAND LINE
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-card>
  <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
  <ion-card-header>
    <ion-card-title>Card Title</ion-card-title>
    <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    Here's a small text description for the card content. Nothing more, nothing less.
  </ion-card-content>
</ion-card>
<ion-content>
  <ion-list>
    <ion-item *ngFor="let tutorial of tutorialList" (click)="onTutorialClick(tutorial)">
      {{ tutorial.title }}
    </ion-item>
  </ion-list>
</ion-content>
