.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-image: url('../splashscreen/img/ccna.jpg');
    background-size: cover;
    background-position: center;
  }
  
  