.flex-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

ion-button {
  border-radius: 50px;
  margin: 30px 0;
  padding: 0 20px;
}