.flex-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-top: -50px; /* Adjust the margin-top value as needed */
}

.custom-button {
  border-radius: 50px;
  margin: 20px 0;
  padding: 0 20px;
  width: 300px; /* Set a fixed width for the buttons */
}