<ion-header>
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-card>
  <ion-card-content>
    <img alt="Silhouette of mountains" src="assets/img/ccna.png" />
  </ion-card-content>
  
</ion-card>

<ion-content>
  <div class="flex-center">
    <!-- Buttons -->
    <ion-button class="custom-button" fill="outline" (click)="onButton1Click()">CCNA CONF COMMAND LINE</ion-button>
    <ion-button class="custom-button" fill="outline" (click)="onButton2Click()">Button 2</ion-button>
    <ion-button class="custom-button" fill="outline" (click)="onButton3Click()">Button 3</ion-button>
    
    <!-- Exit Button -->
    <ion-button class="custom-button" fill="outline" (click)="onExitClick()">Exit</ion-button>
  </div>
</ion-content>